<br>
<div class="container">
  <div class="mb-3">
    <label for="formFile" class="form-label">Add Image</label>
    <input class="form-control"  (change)="onImageUpload($event)" type="file" id="formFile">
  </div>
  <div class="d-grid gap-2">
    <button type="button" class="btn btn-outline-primary " (click)="save()" >Save</button>
  </div>
  <br>



<div class="jumbotron">
    <h1> My Gallery </h1>

  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4 mb-3" *ngFor="let image of images" (click)="delete(image)">
      <img [src]="image.picByte"  alt="Hola ;)" class="fluid img-thumbnail">
    </div>
  </div>
</div>


<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center text-light">
        <h5><a href="https://github.com/khalil1fs">Created By Khalil :)</a></h5>
      </div>
    </div>

  </div>

</footer>

